@import url('https://fonts.googleapis.com/css2?family=Baumans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --white: #F7F9FB;
  --light-blue: #8FC1E3;
  --blue: #31708E;
  --dark-grey: #3f483c;
}

div#root {
  width: 100%;
  text-align: center;
  color: var(--dark-grey);
  font-size: 14pt;
  font-family: "Roboto", sans-serif;
}

div.App {
  padding: 5vh 10vw;
}

div.page {
  position: absolute;
  top: 0;
  padding: 5vh 10vw;
}

header.page-header {
  display: flex;
}

a {
  color: inherit;
}

a.backIcon {
  display: flex;
}

a.limparHistorico {
  display: flex;
  flex-direction: row-reverse;
  cursor: grab;
}

span.logo {
  display: contents;
  height: 10vh;
}

.icon {
  width: 24px;
}

h1 {
  font-family: 'Baumans';
  margin-top: 0;
}

img.mainLogo {
  height: 4em;
}

.divider {
  border-top: 1px solid var(--white);
  width: 80vw ;
}

button {
  display: flex;
  background-color: var(--blue);
  color: var(--white);
  font-weight: bold;
  border: none;
  padding: 10px 15px;
  border-radius: 5rem;
}

button.btnMaisInfo {
  display: inline-block;
  width: 50vw;
  text-align: center;
}

button:hover {
  background-color: #ffffff00;
  color: var(--blue);
  border: var(--blue) solid;
}

.inputContainer {
  display: inline-block;
  position: relative;
}

#btnColarMensagem {
  bottom: 20px;
}

button.btnColar {
  display: inline;
  position: absolute;
  right: 15px;
}

.input {
  background-color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 10px 0;

  font-size: 14pt;
}

textarea#inputMsg {
  width: 80vw;
  resize: none;
}

input#inputSender {
  width: 80vw;
}

span#msgTextContainer {
  color: var(--dark-grey);
  display: inline-block;
  width: 80vw;
}

span#msgTextContainer p {
  padding: 20px;
}

button#btnAnalisar {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24pt;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vw;
  min-width: 300px;
}

li.msgPreview {
  display: flex;
  padding: 10px;
  border-bottom: 2px solid var(--white);
  color: #0B0C10;
}

li.msgPreview:hover {
  background-color: var(--white);
}

.msgPreview p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

ul {
  padding: 0px;
}

p {
  text-align: justify;
}

.resAnaliseContainer {
  margin-top: 24px;
  text-align: center;
}

img.resultadoIcon {
  width: 64px;
  margin: auto;
  display: block;
}

ul.tipsList {
  text-align: justify;
}

li.tip {
  list-style: none;
  display: flex;
}

li.tip p {
  margin: 10px;
}